<!DOCTYPE html>
<html>
<head>
	<title>Angular Intro</title>
	<link rel="stylesheet" type="text/css" href="../fw/materialize/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="../fw/jquery.js"></script>
	<script src="../fw/materialize/js/materialize.min.js"></script>
	<script src="../fw/angular.min.js"></script>	
	<script src="../fw/angular.ui-router.min.js"></script>
	<script src="./js/app.js" type="text/javascript"></script>
	
</head>
<body ng-app="taskman" >
		<div class="main">
			<div class="head">
			 <nav>
			    <div class="nav-wrapper blue darken-1">
			      <a href="#!" class="brand-logo"><img src="./src/logo.png" height="30px"> <small>Taskman</small></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="#"></a></li>
			        
			      </ul>
			    </div>
			 </nav>					
			</div>
			<div class="body">
			 	<div class="create z-depth-2" ng-controller="newTask">
				 <div class="row center-align">
				 <form name="typesel">
				 	
					 <div class="col s6">
						<label for="text">
				        	<input name="taskType" class="with-gap" type="radio" id="text" />
				        	<span>Text</span>
				      	</label>	 	
					 </div>	
					 <div class="col s6">
						<label for="list">
				        	<input name="taskType" class="with-gap" type="radio"  id="list"/>
				        	<span>List</span>
				      	</label>	 	
					 </div>	 				 	
				 </form>
				 </div>			      
				  <div class="row ">
				    <form class="col s6 offset-s3">
				      <div class="row">
				        <div class="input-field col s12">
				          <textarea id="newTask" class="materialize-textarea"></textarea>
				          <label for="newTask">Enter Text Here...</label>
				        </div>
				      </div>
				    </form>
				  </div>
				        
				</div>
				<div class="tasks" ng-controller="taskView">
				  <h2 class="center-align blue-text text-darken-2 ">Tasks</h2>
				  <div class="row">
				    <div class="col s12 m3" ng-repeat="t in tasks">
				      <div class="card-panel {{t.color}} darken-1">
				        <span class="white-text">
				        	<div ng-if="t.type=='text'">
				        		{{t.body}}				        		
				        	</div>
				        	<div ng-if="t.type=='list'">
				        		<ul class="white-text">
									<li class="listItem" ng-repeat="li in t.body" ng-click="markTask({{t.no}},{{$index}})">
					        			<input type="checkbox" id="li{{$index}}"  />
			  							<label for="li{{$index}}" class="white-text">{{li.text}}</label>
			  							<span>{{li.done}}</span>
				        			</li>
				        		</ul>
				        	</div>				        	
				        </span>
				      </div>
				    </div>
				  </div>

				</div>
			</div>
		</div>	


</body>
</html>