body{
	background: #ecf0f1;
}
nav .brand-logo{
	margin-left: 15px;
	display: flex;
	align-items:center;
}
.brand-logo small{
	margin-left: 10px;
}
.create{	
	background: #fff;
	padding: 25px;
	width: 75%;
	margin:25px auto;
	/*box-shadow: 0 0 0 2px grey;*/
}
.tasks{
	background: #fff;
	padding: 25px;
}
.bin{
	width: 21px !important;
	margin: auto;
	margin-top: 10px
}
