
  <nav ng-controller="intro">
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">AngularJS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a ui-sref='home'>Home <span class="new ho badge">1.1-6</span></a></li>
        <li><a ui-sref='about'>About</a></li>
        <li><a ui-sref='calc'>Calculate<span class="new ho badge">1.7</span></a></li>
        <li><a ui-sref='stud'>Student <span class="new ho badge">1.8</span></a></li>
        <li><a ui-sref='filters'>Filters <span class="new ho badge">2.1-3</span></a></li>
        <li><a ui-sref='forms'>Forms <span class="new ho badge">2.4-8</span></a></li>
        <li><a ui-sref='multi'>Multi <span class="new ho badge">2.9-10</span></a></li>
        <li><a >Contact</a></li>
      </ul>
    </div>
  </nav>